body{
    margin-left:40%;
    margin-top: 14%;

}
.images{
    display:flex;
    flex-direction: column;

    height: 265px;

    justify-content: space-between;
    width: 25%;
}
.img, .img img{
    height: 220px;

    width: 100%;
}
button{
    background-color: rgb(0, 101, 101);
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
button:hover{
    font-size: 15px;
    font-family: rockwell;
}

@media (max-width:1024px){
    .images{
    height: 235px;
    }
    .img, .img img{
        height: 190px;
    }
}

@media (max-width:768px){
    .images{
        width: 40%;
        
    height: 245px;
    }
    .img, .img img{
        height: 200px;

        width: 100%;
    }
}
@media (max-width:550px){
    .images{
        width: 60%;
    }
    body{
        margin-left:30%;
        margin-top: 30%;

    }
}
@media (max-width:425px){
    .images{
        width: 70%;
    }
    body{
        margin-left:20%;
        margin-top: 30%;

    }
}

@media (max-width:425px){
    .img, .img img{
        height: 200px;

        width: 100%;
    }
}


